body {
  font-family: 'Yomogi', cursive;
  background-color: #7E7E7E;
}

ul {
  list-style: none;
}

.done {
  text-decoration: line-through;
}

.border {
  background-color: #EEEEEE;
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.card-body {
  background-color: #CCCCCC;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  border-radius: 16px;
}

.card-text {
  background-color: #999999;
  width: 100%;
  padding: 15px;
  margin: auto;
  border-radius: 16px;
}

.alert {
  width: 40%;
  margin: auto;
}